.record-id {
    font-size: 8px;
}

table {
    width: 100%;
}

td {
    padding-bottom: 7px;
    vertical-align: top; /* Align content to the top of the cell */
    text-align: left;   /* Align content to the left of the cell */
  }

th {
    text-align: left;
    padding-bottom: 7px;
}

.row {
    border-bottom: 1px solid #ddd;    
}

.thumbnail img {
    max-width: 320px;
}

