#ui-root {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
    background-color: rgb(216, 229, 255);
    width: 100%;
}

#sidebar {
    width: 100%;    
    margin: 0px;   
    display: flex; 
    border-bottom: 1px solid rgb(164, 164, 164);
}

#sidebar ul {
    list-style-type: none;
    padding:0;
    margin:10p 0px;

}

.top-selector-container {
    width: 250px;
    display: flex;
    padding-right: 10px;
}

.top-selector-container-wide {
    width: 650px;
    display: flex;
    padding-right: 10px;
}


.top-nav-item {
    padding: 10px;
}

#main-content-area {
    padding: 10px;
    
}