#ui-root {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    
    background-color: rgb(216, 229, 255);
    width: 100%;
    min-width: 1024px;
}

#sidebar {
    width: 200px;    
    margin: 0px;   
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;    
    align-content: flex-start;
    border-bottom: 1px solid rgb(164, 164, 164);
    background-color: rgb(189, 209, 249);
}

#sidebar ul {
    list-style-type: none;
    padding:0;
    margin:10p 0px;

}

.top-selector-container {
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    padding-right: 10px;
}

.top-selector-container-wide {
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-right: 10px;
}


.top-nav-item {
    padding: 10px;
}

#main-content-area {
    max-height: 100%;
    overflow: auto;
    width: 100%;
}