input, textarea, select {    
    width: 100%;
    margin: 5px;    
}

input[type="checkbox"] {
    width: 20px;
}

.form-outer-container {
    height: 100%;
    overflow: auto;
    display:flex;
    flex-direction: column;
}

.form-container {
    padding: 10px;
    display: block;
    width: 100%;        
    display: flex;
    flex-flow: column;
    overflow: auto;    
    flex: 1;    
    color: rgba(0, 0, 0, .8);      
}

.form-actions-outer-container {
    height: 55px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;    
}

.form-actions-container {
    display: flex;
    width: 600px;
    justify-content: flex-end;
    margin-left: auto;    
}

.form-actions-container button {
    width: 140px;
    font-size: 90%;
    margin-left: 10px;
}

.form-element-outer-container {
    padding-right: 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 400px;
    max-width: 100%;
}

.form-array-container {
    border: 1px solid red;
}

.form-subfield-array-item-container {
    margin: 5px 0px 15px 0px;
    padding: 5px 2px;
    border: 1px solid rgb(147, 147, 147);
    border-radius: 3px;
}

.form-subfield-array-item-header {
    width: 100%;
    height: 0px;
    padding-right: 8px;
}

.form-subfield-array-item-header a {
    float: right;
}


.form-subfield-array-outer-header {
    padding-left: 5px;
}

.form-subfield-array-container {    
    padding-left: 10px;
    margin-left: 20px;
}

.form-subfield-array-header {
    width: 100%;
    height: 20px;
    padding-right: 6px;
}

.form-subfield-array-header a {
    float: right;
}

.form-header {
    font-size: 85%;
}

.form-link {
}

.field-label {
    font-size: 105%;
    
    color: rgba(0, 0, 0, 1);
}

.form-annotation {
    font-size: 75%;
}

.field-text-field-thumbnail{    
    margin-left: 5px;
    padding: 5px;
    padding-bottom:0px;
    border: 1px solid gray;
    background: black;
    text-align: center;    
    height: 213px;
}

.field-text-field-thumbnail img {
    height: 200px;
}

.form-header-label {
    display: block;
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 5px;
}

.btn-save {
    background-color: green;
}

.btn-cancel {
    background-color: rgba(68, 68, 68, 0.516);
}

.form-validation-errors-container {
    background-color: rgb(255, 255, 182);
    padding: 10px;
    margin-left: 18px;
    margin-right: 15px;
    margin-top: 15px;
    border: 1px solid rgb(247, 113, 113);
}