input, textarea {    
    width: 100%;
    margin: 5px;    
}

input[type="checkbox"] {
    width: 20px;
}

.form-container {    
    padding: 10px;
    display: block;
}

.form-element-container {
    
}

.form-subfield-array-container {    
    padding-left: 10px;
    margin-left: 20px;    
}